body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h1 {
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

h2 {
    color: #555;
    margin-top: 20px;
}

p {
    margin: 10px 0;
    text-align: justify;
}

ol {
    margin-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.main-title {
    border-bottom: none;
    text-align: center;
    font-size: 2.5em;
    color: #ff3e3e;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px #aaa;
}